<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Weekend Challenge 2</title>
  <script src="vendors/jquery-3.2.1.min.js" charset="utf-8"></script>
  <script src="scripts/calculator.js" charset="utf-8"></script>
</head>

<body>
  <h1>Weekend Challenge Calculator</h1>

  <div class="Calculator">
    <input type="text" name="" value="" placeholder="Value 1" id="value1">
    <input type="text" name="" value="" placeholder="Value 2" id="value2">
    <button type="button" name="button" id="addButton">+</button>
    <button type="button" name="button" id="subtractButton">-</button>
    <button type="button" name="button" id="multiplyButton">*</button>
    <button type="button" name="button" id="divideButton">/</button>
    <button type="button" name="button" id="clearButton">clear</button>

    <div id="answer">
    </div>
  </div>
</body>

</html>
