<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Weekend Challenge 2</title>
  <script src="vendors/jquery-3.2.1.min.js" charset="utf-8"></script>
  <script src="scripts/calculator.js" charset="utf-8"></script>
</head>

<body>
  <h1>Weekend Challenge Calculator</h1>

  <div class="Calculator">
    <h3 id="input" class="text-primary text-center"></h3>
    <button value="1" type="button" name="button" id="Button1">1</button><button value="2" type="button" name="button" id="Button2">2</button> <button value="3" type="button" name="button" id="Button3">3</button><button value="+" type="button" name="button"
      id="addButton">+</button>
    <button value="=" type="button" name="button" id="equalsButton">=</button><br />
    <button value="4" type="button" name="button" id="Button4">4</button><button value="5" type="button" name="button" id="Button5">5</button> <button value="6" type="button" name="button" id="Button6">6</button><button value="-" type="button" name="button"
      id="subtractButton">-</button> <br />
    <button value="7" type="button" name="button" id="Button7">7</button><button value="8" type="button" name="button" id="Button8">8</button> <button value="9" type="button" name="button" id="Button9">9</button><button value="*" type="button" name="button"
      id="multiplyButton">*</button> <br />
    <button value="0" type="button" name="button" id="Button0">0</button><button type="button" name="button" id="clearButton">Clear</button><button value="/" type="button" name="button" id="divideButton">/</button>
    <div id="answer">

    </div>
  </div>
</body>

</html>
